<style>

</style>

<!-- Toolbar -->
<div class="toolbar mat-elevation-z2" role="banner">

  <span class="title">Angular Browser Test</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
  </a>
</div>

<div class="content">
  <mat-form-field style="width: 400px;">
    <mat-label>Location</mat-label>
    <input matInput type="text" [(ngModel)]="url" placeholder="Type URL here">
    <button mat-button *ngIf="url" matSuffix mat-icon-button aria-label="Clear" (click)="url=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onButtonClick()">Redirect</button>
</div>

<router-outlet></router-outlet>